<dl>
  <dt><label for='genre_name'>Name :</label></dt>
  <dd><input id='genre_name' type='text' name='genre[name]' autofocus value ="<%= @genre.name %>"></dd>
</dl>
<!-- <dl>
  <dt><label for='genre_id'>ID :</label></dt>
  <dd><input id='genre_id' type='text' name='genre[id]' autofocus value ="<%= @genre.id %>"></dd>
</dl> -->