<form action='/genres/<%= @genre.id %>' method='post'>
<%= erb :'genres/_form' %>

<!--   <dl>
    <dt><label for='difficulty'>Difficulty :</label></dt>
    <dd><input id='name' type='text' name='category[difficulty]' autofocus></dd>
  </dl> -->

  <button>Update Genre</button>
</form>