<ul>
  <% @genres.each do |genre| %>
    <li>
      <%= genre.name %>
      <a href="/genres/<%= genre.id %>/edit">edit</a>
      <form method='post' action="/genres/<%= genre.id %>/delete">
      <button>Delete</button>        

      </form>
    </li>
  <% end %>
</ul>
