<p>This is just some stuff on links</p>


<nav class ='navbar navbar-default navbar-relative'>
  <div class='container-fluid'>
   <!--  <button type='button' class='navbar-toggle'
    data-toggle='collapse'
    data-target='.navbar-collapse'>
    <span class='sr-only'>Toggle navigation</span>
    <span class='icon-bar'></span>
    <span class='icon-bar'></span>
    <span class='icon-bar'></span>
  </button> -->
  <div class='navbar-text bookmarksedit_text'> 
  
  <a class='white' href='/genres'>Edit / Delete Categories</a>

  </div>
  <div class='navbar-collapse collapse'>
    <ul class='nav navbar-nav navbar-right'>
  
    <li><a href='/links'>ALL</a></li>
    <li><a href='/links/:id'>Ruby fixed</a></li>
      <% @genres.each do |genre| %>

      <li>
        <a href="/genres/<%= genre.id %>"><%= genre.name %></a>
       
        </li>
        <% end %>

      </ul>

</div>
</div>
</nav>






















   
  













<br>
<br>
<br>




<!-- THESE LINKS NEED MOVED TO THE LINKS PAGE -->
<!-- <li><a href='/genres'>Genres</a></li>
<li><a href='/genres/new'>New Genre</a></li>
<li><a href='/links'>Links</a></li>
<li><a href='/links/new'>New Link</a></li> -->