<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/reset.css'>
    <link rel='stylesheet' href='/styles.css'>
    <title>Bookmarks Organiser Application</title>
  </head>

  <body>
    <header>
      <h1><span class='branding'>Bookmarks</span> &ndash; Organiser Application</h1>
    </header>

    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/genres'>Genres</a></li>
        <li><a href='/genres/new'>New Genre</a></li>
      
        
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>