<dl>
  <dt><label for='link_name'>Name :</label></dt>
  <dd><input id='link_name' type='text' name='link[name]' autofocus value ="<%= @link.name %>"></dd>
</dl>
<dl>
  <dt><label for='link_url'>URL :</label></dt>
  <dd><input id='link_url' type='text' name='link[url]' autofocus value ="<%= @link.url %>"></dd>
</dl>
<dl>
  <dt><label for='link_desc'>Description :</label></dt>
  <dd><input id='link_desc' type='text' name='link[description]' autofocus value ="<%= @link.description %>"></dd>
</dl>

