<form action='/links/<%= @link.id %>' method='post'>
<%= erb :'links/_form' %>

<!--   <dl>
    <dt><label for='difficulty'>Difficulty :</label></dt>
    <dd><input id='name' type='text' name='category[difficulty]' autofocus></dd>
  </dl> -->

  <button>Update Link</button>
</form>