<form action='/links' method='post'>
  <%= erb :'links/_form' %>

<!--   <dl>
    <dt><label for='difficulty'>Difficulty :</label></dt>
    <dd><input id='name' type='text' name='category[difficulty]' autofocus></dd>
  </dl> -->

  <button>Add Link</button>
</form>