
font-family: 'Montserrat', sans-serif;

font-family: 'Raleway', sans-serif;

font-family: 'PT Sans Narrow', sans-serif;

font-family: 'Titillium Web', sans-serif;

font-family: 'Poiret One', cursive;

font-family: 'Indie Flower', cursive;

font-family: 'Playfair Display', serif;

font-family: 'Muli', sans-serif;

font-family: 'Alegreya Sans', sans-serif;

font-family: 'Play', sans-serif;

font-family: 'Josefin Sans', sans-serif;

font-family: 'Orbitron', sans-serif;

font-family: 'Quicksand', sans-serif;

font-family: 'Exo', sans-serif;

font-family: 'Architects Daughter', cursive;

font-family: 'Questrial', sans-serif;
